* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.login__wrapper,
.loader__wrapper,
.chat__wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__wrapper {
  flex-direction: column;
}
.login__card {
  flex: 0 1 300px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages__wrapper,
.form__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages {
  flex: 0 1 500px;
  height: 300px;
  overflow-y: auto;
  background: gray;
  padding: 15px;
}

.form {
  margin-top: 30px;
  flex: 0 1 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
